extends layout

block content
  
  div.container
   
    h1 Life is short
    p Be positive.
    p Discover things that you love.
    p Live your short life.
    div.row
     div.col-md-4.lifeExpectancyTextRow
      p.lifeExpectancyText Everage life expectancy of your country is
     div.col-md-8
      p.lifeExpectancyNumber 73